<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--{% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}-->

          <h1 id="project_title">Structural Segmentation of Dhrupad Vocal Bandish Audio</h1>
          <h2 id="project_tagline">Supplementary material for poster presentation at ISMIR 2020</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div id="contents_list" class="contents-list">
          <h2>Contents<h2>
          <ul>
            <li><a href="#section_descriptions"><h3 style="color:blue">Musical description of the bandish sections</h3></a>
            <li><a href="#choutal_theka_variants"><h3 style="color:blue">Changing rhythmic density within the theka</h3></a>
            <li><a href="#audio_example_tempi"><h3 style="color:blue">Example audio from a section in a concert</h3></a>
            <li><a href="#tempo-cnn"><h3 style="color:blue">Related Work – <i>tempo-cnn</i></h3></a>
            <li><a href="#stm-cnn"><h3 style="color:blue">Proposed Model for s.t.m. Estimation</h3></a>
            <li><a href="#conf_mats"><h3 style="color:blue">Confusion matrices for s.t.m. prediction</h3></a>
            </ul>
        </div>
        <br><br><br>

        <div id="" class="section_content">
          <h2 id="section_descriptions">Musical description of the bandish sections</h2>
          <figure>
            <img src="media/section_descriptions.png"
            alt="A table describing each section in a bandish">
          </figure>
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>

        <div id="" class="section_content">
          <h2 id="choutal_theka_variants">Changing rhythmic density within the theka</h2>
          <figure>
            <img src="media/choutal_theka_variants.png"
            alt="">
            <figcaption align="left"> The theka of Choutal, a 12 matra cycle with 6 sub-divisions of 2 matras each.
            (a) Its basic form with 1 stroke per matra for the most part except on the last 4 matras,
            where it is 2 per matra. (b) A variation with 4 strokes on each of the last two matras. </figcaption>
          </figure>
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>

        <div id="" class="section_content">
          <h2 id="audio_example_tempi">Example audio from a section in a concert</h2>
          <figure>
            <img src="media/audio_example_tempi.png"
            alt="">
            <figcaption>Below are audios from the portion marked in dotted blue above</figcaption>
          </figure>
           <br>

          <figure>
          <figcaption>Mixture</figcaption>
          <audio
          controls
          src="media/example_audio_tempi_mix.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          </figure>

          <figure>
          <figcaption>Vocals</figcaption>
          <audio
          controls
          src="media/example_audio_tempi_voc.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          </figure>
          
          <figure>
          <figcaption>Pakhawaj</figcaption>
          <audio
          controls
          src="media/example_audio_tempi_pakh.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          </figure>
          
        </figure>
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>
        
        <div id="" class="section_content">
          <h2 id="tempo-cnn">Related Work – <i>tempo-cnn</i></h2>
          <figure>
            <img src="media/tempo-cnn.png"
            alt="">
          </figure>
        </div>
         <br>
        (<a href="#contents_list">top</a>)
       <br><br><br>
  
        <div id="" class="section_content">
          <h2 id="stm-cnn">Proposed Model for s.t.m. Estimation</h2>
          <figure>
            <img src="media/stm-cnn.png"
            alt="">
          </figure>
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>
      
        <div id="" class="section_content">
          <h2 id="conf_mats">Confusion matrices for s.t.m. prediction</h2>
          <figure>
            <img src="media/conf_mats.png"
            alt="">
          </figure>
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>

        <div id="" class="section_content">
          <h2 id="stm_examples">Examples of different surface tempo multiples</h2>

          <div class="row">
            <div class="column">
              <div class="row">
              <img src="media/stm_examples/mix_1.png" style="width:100%">
              <audio src="media/stm_examples/mix_1.wav" controls></audio>
              </div>
            </div>
            <div class="column">
              <div class="row">
              <img src="media/stm_examples/voc_2.png" style="width:100%">
              <audio src="media/stm_examples/voc_2.wav" controls></audio>
              </div>
            </div>
            <div class="column">
              <div class="row">
              <img src="media/stm_examples/voc_4.png" style="width:100%">
              <audio src="media/stm_examples/voc_4.wav" controls></audio>
              </div>
            </div>
          </div>
          
        </div>
        <br>
        (<a href="#contents_list">top</a>)
        <br><br><br>          
          
          
      </section>
    </div>
      
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
